.filter_button {
    border: 3px solid rgba(157, 132, 95, 0.24);
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    background-color: burlywood;
    font-weight: bold;
}
.filter_button:hover {
    cursor: pointer;
}
.filter_button.active_filter {
    border: none;
    background-color: white;
}