.todo {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(52, 119, 241, 0.8);
}
.list_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
.list_header_title {
    color: white;
    margin: 0;
}
.list_header_remove {
    border: none;
    background-color: red;
    color: white;
    border-radius: 5px;
    transition: .2s ease;
    padding: 7px 10px;
}
.list_header_remove:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px red;}
.add_task {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.add_input {
    border: none;
    background-color: #eaeaea;
    padding: 5px;
    border-radius: 5px;
}
.error_input {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.28);
    padding: 5px;
    border-radius: 5px;
}
.add_button {
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    padding: 7px 10px;
}
.error_text {
    color: red;
    font-weight: bold;
}
.list {
    padding: 0;
    width: 100%;
}
.list_item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
}
.list_item_completed {
    opacity: 0.5;
}
.remove_button {
    border: none;
    background-color: red;
    color: white;
    border-radius: 5px;
    transition: .2s ease;
}
.remove_button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px red;
}
.filter_buttons {
    display: flex;
    gap: 5px;
}